asgiref==3.11.1
charset-normalizer==3.4.7
crispy-bootstrap5==2026.3
diff-match-patch==20241021
Django==6.0.3
django-crispy-forms==2.6
django-import-export==4.4.0
et_xmlfile==2.0.0
narwhals==2.19.0
numpy==2.4.4
openpyxl==3.1.5
packaging==26.0
pandas==3.0.2
patsy==1.0.2
pillow==12.2.0
plotly==6.6.0
python-dateutil==2.9.0.post0
reportlab==4.4.10
scipy==1.17.1
six==1.17.0
sqlparse==0.5.5
statsmodels==0.14.6
tablib==3.9.0
tzdata==2026.1
