{% extends 'main_app/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <h2>Promotion Status</h2>
    
    <div class="alert alert-success">
        Student {{ student.student.first_name }} {{ student.student.last_name }} has been {% if student.failed_to_promote %}marked as not promoted{% else %}successfully promoted{% endif %} to {{ student.class_name }} - {{ student.section }}.
    </div>
    <a href="{% url 'promote_existing_students' %}?class_name={{ filtered_class|urlencode }}&section={{ filtered_section|urlencode }}" class="btn btn-primary">Promote Another Student</a>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Go to Dashboard</a>
</div>
{% endblock %}