{% extends 'main_app/analytics_base.html' %}

{% block analytics_content %}
<div class="container mt-4">
    <h2 class="mb-4 text-center">📊 School Statistics Dashboard</h2>

    <div class="container my-4">
    <h4 class="mb-3">Summary: Students by Class</h4>
    <div class="row">
        {% for summary in class_summary %}
        <div class="col-md-3 mb-3">
            <div class="card border-info text-center">
                <div class="card-body">
                    <h5 class="card-title">{{ summary.class_name }}</h5>
                    <p class="card-text">{{ summary.count }} Students</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



    <div class="row g-4">
        {% for card in cards %}
        <div class="col-md-4">
            <div class="card border-{{ card.color }} shadow-sm h-100">
                <div class="card-body text-center">
                    <h5 class="card-title text-{{ card.color }}">{{ card.title }}</h5>
                    <p class="card-text display-6 fw-bold">{{ card.value }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container my-5">
    <h4>Student Distribution Chart</h4>
    <div>
        {{ plot_div|safe }}
    </div>
</div>

</div>
{% endblock %}

